.nav__link {
  margin: 0 20px;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  color: #00cccc;
  cursor: pointer;
}

.nav__link--active,
.nav__link:hover,
.nav__link:focus {
  color: gray;
}

@media (max-width: 960px) {
  .nav__link {
    margin: 0 15px;
    font-size: 15px;
  }
}

@media (max-width: 660px) {
  .nav__link {
    margin: 0 10px;
    font-size: 14px;
  }
}

