.arrow {
  position: absolute;
  left: calc(50% - 15px);
  bottom: 10%;
  transform: rotate(180deg);
  transition: transform 0.5s, fill 0.5s;
  padding: 0;
  background-color: transparent;
  border: none;
  z-index: 3;
  fill: rgba(198, 133, 9, 0.8);
  cursor: pointer;
  outline: none;
}

.arrow:hover {
  transform: rotate(540deg) scale(1.2);
  fill: #00CCCC;
}
