@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Regular.woff2') format('woff2'),
  url('./fonts/Oswald-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Medium.woff2') format('woff2'),
  url('./fonts/Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Bold.woff2') format('woff2'),
  url('./fonts/Oswald-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  line-height: 1.2;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}


img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}


/*App*/
.app__container {
  width: 100%;
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.app__header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 0 10px;
  z-index: 5;
  transition: background-color 0.7s;
}

.header.fixed {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 100;
}

.header.show {
  background-color: rgba(0, 0, 0, 0.9);
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.app__main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;

  background-image: url("./img/bg-intro.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.app__main::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.app__inner {
  position: relative;
  z-index: 3;
}











