@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Regular.woff2') format('woff2'),
  url('./fonts/Oswald-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Medium.woff2') format('woff2'),
  url('./fonts/Oswald-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Oswald';
  src: url('./fonts/Oswald-Bold.woff2') format('woff2'),
  url('./fonts/Oswald-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: grey;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.green-text {
  color: #00cccc;
  text-shadow: 1px -1px 0 rgba(255, 255, 255, 0.8);
  letter-spacing: 0.06em;
}

.brown-text {
  color: rgba(198, 133, 9, 0.8);
}




