.skills {
  width: 50%;
  padding: 10px 0;

}

.skills__title {
  font-size: 20px;
  font-weight: 400;
  color: rgb(198, 133, 9);
}

.skills__inner {
  display: flex;
  flex-wrap: wrap;
}


.skills__list {
  padding: 10px 40px 0 0;
}





.skills__item {
  display: flex;
  flex-direction: row;

  align-items: center;

  margin: 5px 0;
  padding-bottom: 5px;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.skills__item:last-child {
  margin: 0;
  padding-bottom: 0;
}

.skills__icon-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
}