.logo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.logo__img {
  fill: #00cccc;
  transform: rotate(25deg);
  transition: transform 0.3s linear, fill 0.7s linear;
}

.logo__img:hover {
  transform: scale(1.2);
}

.logo__text {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.08em;
  color: #00cccc;
}

.logo__text:hover {
  color: #00cccc;
}
