.app__title,
.app__subtitle {
  font-weight: normal;
  text-align: center;
}

.app__title {
  font-size: 48px;
}

.app__subtitle {
  padding: 10px 0;
  font-size: 36px;
}


@media (max-width: 960px) {
  .app__title {
    font-size: 32px;
  }

  .app__subtitle {
    /*padding: 10px 0;*/
    font-size: 26px;
  }




}


