.intro__title,
.intro__subtitle {
  text-align: center;
  font-weight: normal;
}

.intro__subtitle {
  padding: 10px 5px;
  font-size: 36px;
  line-height: 1.4;
}

.intro__title {
  font-size: 48px;
  transition: color 2s linear;
}


.green-text {
  color: #00cccc;
  text-shadow: 2px -2px 0 rgba(255, 255, 255, 0.8);
  letter-spacing: 0.06em;
}

.brown-text {
  color: rgba(198, 133, 9, 0.8);
}
