.works {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 0;
  margin: 0 -5px;
}


@media (max-width: 960px) {
  .works {
    padding: 15px 0;
  }
}


@media (max-width: 420px) {
  .works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
  }
}
