.copyright {
  max-width: 320px;
  margin: 0 auto;
  padding: 20px 0;
  font-size: 18px;
  text-align: center;
  border-top: 2px solid grey;
}

@media (max-width: 960px) {
  .copyright {
    padding: 15px 0;
    font-size: 16px;
    border-width: 1px;
  }
}

@media (max-width: 660px) {
  .copyright {
    padding: 10px 0;
    font-size: 15px;
  }
}

@media (max-width: 420px) {
  .copyright {
    max-width: 270px;
    font-size: 14px;
  }
}
