.skills__item {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 5px;
  padding: 5px 10px;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  border: 1px solid gray;
  border-radius: 4px;
}


.skills__icon-wrapper {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-left: 10px;
}
