.filter-wrapper {
  display: flex;
  justify-content: space-between;

  margin: 10px 0;

}


.filter-btn {
  padding: 5px 10px;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  color: gray;

  background-color: transparent;
  border: 1px solid gray;
  border-radius: 4px;

  transition: all linear 0.6s;
  cursor: pointer;
}

.filter-btn:hover {
  color: rgb(198, 133, 9);
  border-color: rgb(198, 133, 9);
}

.filter-btn.active {
  color: #ffffff;
  background: rgb(198, 133, 9);
  border-color: transparent;
}
