.nav {
  display: none;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.nav._show {
  display: flex;
}

@media (max-width: 420px) {
  .nav {
    position: absolute;
    right: 0;
    top: 100%;
    display: none;
    justify-content: flex-end;
    width: 100%;
    padding: 10px 0;
  }

  .nav._fixed {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .nav._fixed._show {
    display: flex;
  }

}
