.footer__contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  width: 50%;
  padding: 25px 0;
  border-bottom: 1px solid rgba(40, 40, 40, 0.8);
}

.contact__item {
  display: flex;
  justify-content: center;
  align-items: center;


  text-decoration: none;
}

.contact__icon {
  width: 30px;
  height: 32px;
  margin-right: 20px;
  fill: #525252;
  transition: fill 0.5s, transform 0.5s;
  outline: none;
}

.contact__icon:hover {
  fill: white;
  transform: scale(1.2);
}